.headContainer
  display: flex
  justify-content: center
  width: 100%
  height: 70pt
  margin-color: white
  background-image: url('https://cdn.pixabay.com/photo/2016/10/11/21/43/geometric-1732847__340.jpg')

.headImage
  align-self: center
  width: auto
  height: 90%
  background: transparent
  margin: 5% 0.5% 5% 1%

.headText
  align-self: center
  font-size: 150%
  background: transparent

.headButton
  align-self: center
  width: 20%
  height: 80%
  background: transparent
  margin: 5% 0.5%
  margin-radius: 10pt
  border-top: 5px solid #F3E58D
  border-right: 5px solid #9F8D15
  border-bottom: 5px solid #8C7A07
  border-left: 5px solid #CAB530
  cursor: pointer
  border-radius: 10px
  text-transform: uppercase
  font-size: 90%

.headButton:hover
  background: linear-gradient(180deg,transparent,#7BC7E8)
  color: black


.secret
  align-self: center
  width: auto
  height: 30%
  background: transparent