.notContainer
  display: flex
  justify-content: center
  width: 80%
  // height: 10%
  margin: 5% 10%
  background-image: url('https://cdn.pixabay.com/photo/2016/10/11/21/43/geometric-1732847__340.jpg')
  border-radius: 10px

.imageMessage
  align-self: center
  width: 30%
  height: auto
  background: transparent

.messageText
  align-self: center
  font-size: 100%
  background: transparent
  